* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8a4b8b;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #060309;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        padding: 15px 20px;
        width: 100%;
        text-align: center;
    }
}